<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Intranet" connectionString="Data Source=MERCURIO;Initial Catalog=Intranet;User Id=echizen;Password=mndrgr76;MultipleActiveResultSets=True" />
    <add name="SegurosConnectionString" connectionString="Data Source=MERCURIO;Initial Catalog=SegurosIICA;User ID=echizen;Password=mndrgr76;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="APPSConnection" connectionString="Data Source=ATLAS;Initial Catalog=IICA_APPS;User Id=echizen;Password=mndrgr76;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="connStringIICA_APPS" value="Data Source=ATLAS; Database=IICA_APPS; UID=echizen; PWD=mndrgr76" />
    <add key="DefaultUILanguage" value="es" />
    <!--Correo del Admin de la App value="info.sugi@iica.int"-->
    <add key="AdminMail" value="soporte.seguros@iica.int" />
    <add key="ServerMail" value="oberon.iica.ac.cr" />
    <add key="ServerMailPort" value="25" />
    <!--Log de errores-->
    <add key="LogPath" value="~\log\" />
    <!--Para el URL-->
    <add key="Dominio" value="http://localhost:64118/" />
    <!--Nombre de la Aplicacion -->
    <add key="appName" value="Sistema de Seguros del IICA " />
    <!--Nombre de la Aplicacion en Ingles -->
    <add key="appNameEng" value="Insurance System of IICA" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <pages>
    <namespaces>
      <add namespace="System.Web.Optimization" />
    </namespaces>
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls>
	</pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>